.create-student-title{
  width: 40%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
#sign-up-button{
  text-align: center;
  margin: auto;
}
form{
  width: 40%;
}
