<nz-tabset>
  <nz-tab [nzTitle]="titleTemplate1">
    <ng-template #titleTemplate1><i nz-icon nzType="info-circle"></i> 课程信息</ng-template>
    <app-course-info [courseId]="courseId"></app-course-info>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate2">
    <ng-template nz-tab>
      <app-project-list [courseId]="courseId"></app-project-list>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate3">
    <app-project-join [courseId]="courseId"></app-project-join>
  </nz-tab>
</nz-tabset>

<ng-template #titleTemplate2><i nz-icon nzType="unordered-list"></i> 已加入的课程项目列表</ng-template>
<ng-template #titleTemplate3><i nz-icon nzType="appstore-add"></i> 加入新项目</ng-template>
