<nz-layout>
    <nz-header>
      <app-header-logo></app-header-logo>
      <div class="header-info">
        <div class="header-info-item">
          <a nzType="link" nzGhost  nzTooltipTitle="搜索" nzTooltipPlacement="bottom" nz-button nz-tooltip>
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </a>
        </div>
        <div class="header-info-item">
          <a nz-dropdown [nzDropdownMenu]="menu" nzType="link" nzGhost  nzTooltipTitle="用户" nzTooltipPlacement="top" nz-button nz-tooltip >
            <i nz-icon nzType="user" nzTheme="outline"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item [nzSelected]="option=='info'" [routerLink]="['/','student','info']">个人信息</li>
              <li nz-menu-item [nzSelected]="option=='modify_info'" [routerLink]="['/','student','modify_info']">修改个人信息</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="header-info-item">
          <a nzType="link"
            nzGhost
            nzTooltipTitle="登出"
            nzTooltipPlacement="bottom"
            nz-button
            nz-tooltip
             (click)="logout()"
            >
            <i nz-icon nzType="logout" nzTheme="outline"></i>
          </a>
        </div>
      </div>

      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item [routerLink]="['/','student','course_list']">已选课程</li>
        <li nz-menu-item [routerLink]="['/','student','course_join']">加入课程</li>
        <li nz-menu-item [routerLink]="['/','student','project_join']">加入项目</li>
      </ul>
    </nz-header>
    <nz-content class="outer-content">
      <nz-breadcrumb>
        <nz-breadcrumb-item>学生</nz-breadcrumb-item>
        <nz-breadcrumb-item>项目</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-layout class="inner-layout">
        <nz-sider nzWidth="200px" nzTheme="light">
          <ul nz-menu nzMode="inline" class="sider-menu">

            <li nz-menu-item [nzSelected]="option=='info'"
                [routerLink]="['/','project','student','info']"
                [queryParams]="{projectId:projectId}"
                >
                <i nz-icon nzType="home" nzTheme="outline"></i>
                项目信息
            </li>

            <li nz-submenu nzOpen nzTitle="任务" nzIcon="bars">
              <ul>
                <li [nzSelected]="option=='all_task'" nz-menu-item [routerLink]="['/','project','student','all_task']" [queryParams]="{projectId:projectId}">任务总览</li>
                <li [nzSelected]="option=='my_task'" nz-menu-item  [routerLink]="['/','project','student','my_task']" [queryParams]="{projectId:projectId}">我的任务</li>
                <li *ngIf="isManager" [nzSelected]="option=='manage_task'" nz-menu-item  [routerLink]="['/','project','student','manage_task']" [queryParams]="{projectId:projectId}">管理任务</li>
              </ul>
            </li>
            <li nz-menu-item
                [nzSelected]="option=='discuss'"
                [routerLink]="['/','project','student','discuss']" [queryParams]="{projectId:projectId}">
                <i nz-icon nzType="message" nzTheme="outline"></i>
                项目讨论
            </li>
            <li nz-menu-item
                [nzSelected]="option=='file'"
                [routerLink]="['/','project','student','file']"  [queryParams]="{projectId:projectId}">
                <i nz-icon nzType="file-text" nzTheme="outline"></i>
                项目资源
            </li>
            <li nz-submenu nzTitle="分数" nzIcon="rocket">
              <ul>
                <li [nzSelected]="option=='my_score'" nz-menu-item [routerLink]="['/','project','student','my_score']"  [queryParams]="{projectId:projectId}">我的分数</li>
                <li [nzSelected]="option=='mark_mate'" nz-menu-item [routerLink]="['/','project','student','mark_mate']"  [queryParams]="{projectId:projectId}">打分</li>
              </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-content class="inner-content">
            <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
      <nz-footer><app-footer-content></app-footer-content></nz-footer>
    </nz-content>
  </nz-layout>
