<nz-list>
  <nz-list-item *ngFor="let project of projects">
    <ng-container>
      <nz-list-item-meta
        nzTitle="{{project.projectName}}"
        nzDescription="{{project.startTime}} --- {{project.endTime}}">
      </nz-list-item-meta>
      项目主题：{{project.theme}}
      <ul>
        <a (click)="getIntoProject(project.projectId)"><i nz-icon nzType="login"></i> 进入项目</a>
      </ul>

    </ng-container>
  </nz-list-item>
</nz-list>

<nz-pagination [(nzPageIndex)]="pagination.pageIndex" [nzPageSize]="6" [nzTotal]="projects.length" (nzPageIndexChange)="getAllProjects()"></nz-pagination>
