
<nz-table #basicTable nzSize="small" nzBordered [nzData]="listOfData" [nzPageSize]="pageSize">
  <thead>
  <tr>
    <th *ngFor="let column of listOfColumn"
        [nzSortFn]="column.compare" [nzSortPriority]="column.priority" [nzWidth]="column.width">
      {{ column.title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <ng-container *ngIf="!editCache[data.course_id].edit; else editTemplate">
      <td>{{ data.course_id }}</td>
      <td>{{ data.course_name }}</td>
      <td>{{ data.teacher_name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.max_student_number }}</td>
      <td>
        <button nz-button (click)="startEdit(data.course_id)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>&nbsp;
        <button nz-button nz-popconfirm nzPopconfirmTitle="确认删除?" (nzOnConfirm)="deleteRow(data.course_id)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>

      </td>
    </ng-container>
    <ng-template #editTemplate>
      <td>{{data.course_id}}</td>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.course_id].data.course_name" /></td>
      <td>{{data.teacher_name}}</td>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.course_id].data.description" /></td>
      <nz-input-number [nzMin]="1" [nzStep]="1" [(ngModel)]="editCache[data.course_id].data.max_student_number"></nz-input-number>
      <td>
        <button nz-button nz-popconfirm nzPopconfirmTitle="确认保存?" (nzOnConfirm)="saveEdit(data.course_id)">
          <i nz-icon nzType="check" nzTheme="outline"></i>
        </button>&nbsp;
        <button nz-button (click)="cancelEdit(data.course_id)" >
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
      </td>
    </ng-template>
  </tr>
  </tbody>
</nz-table>
