<form style="max-width: 600px;" nz-form [formGroup]="validateForm" (ngSubmit)="addProject()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">项目名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="必填项">
      <input nz-input formControlName="name" id="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="theme">项目主题</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="必填项">
      <input nz-input formControlName="theme" id="theme" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="timeRange">项目起止时间</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
      <nz-range-picker formControlName="timeRange" id="timeRange"></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">提交</button>
    </nz-form-control>
  </nz-form-item>
</form>

