<nz-page-header class="site-page-header" nzTitle="项目讨论">
</nz-page-header>
<nz-divider></nz-divider>

<nz-tabset>
  <nz-tab nzTitle="全部讨论">
    <ng-template #commentTemplateRef let-comment="comment">
      <nz-comment>
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="getProfile(comment.discussionId)"></nz-avatar>
<!--        <nz-avatar *ngIf="getProfile(comment.discussionId) == null" nz-comment-avatar nzSize="large" nzIcon="user" style="background-color:#87d068;"></nz-avatar>-->
        <nz-comment-content>
          <div class="ant-comment-content-author-name">
            {{getAuthor(comment.userId)}}
            <span class="ant-comment-content-author-time">{{comment.time}}</span></div>
        </nz-comment-content>
        <nz-comment-content>
          <p [innerHTML]="comment.content"></p>
        </nz-comment-content>
        <nz-comment-action>
                    <span class="action">
                    <i nz-tooltip nzTitle="Like" nz-icon nzType="like"
                       [nzTheme]="comment.likes > 0 ? 'twotone' : 'outline'"
                       (click)="like(comment.discussionId)"></i>
                    <span class="count like">{{ comment.likes }}</span>
                    </span>
        </nz-comment-action>
        <nz-comment-action class="action-reply">
                    <span class="action">
                    <i nz-icon nz-tooltip nzType="message" nzTheme="twotone"></i>
                    <span (click)="showReply(comment.discussionId)"> Reply to</span>
                    </span>
        </nz-comment-action>
        <div class="ReplyController{{comment.discussionId}}" style="display: none">
          <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="getProfile(comment.discussionId)"></nz-avatar> <!--              <nz-avatar nz-comment-avatar nzIcon="user"-->
            <!--                         nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>-->
            <nz-comment-content>
              <nz-form-item>
                <textarea placeholder="回复讨论" nz-input rows="4" [(ngModel)]="replyContent"></textarea>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" (click)="reply(comment.discussionId)">
                  回复
                </button>
              </nz-form-item>
            </nz-comment-content>
          </nz-comment>
        </div>

        <!--注意这一行，如果存在评论回复，遍历复用渲染-->
        <ng-container *ngIf="discussionChildren.get(comment.discussionId).length">
<!--          <nz-collapse>-->
<!--            <nz-collapse-panel [nzExpandedIcon]="iconRef" nzHeader="展开回复">-->
          <ng-template ngFor let-child [ngForOf]="discussionChildren.get(comment.discussionId)">
            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }">
            </ng-template>
          </ng-template>
<!--            </nz-collapse-panel>-->
<!--            <ng-template #iconRef>-->
<!--            <i nz-icon nzType="caret-down" nzTheme="outline"></i>-->
<!--            </ng-template>-->
<!--          </nz-collapse>-->

        </ng-container>
      </nz-comment>
    </ng-template>

    <!--comment list loop-->
    <ng-container *ngFor="let item of firstDiscussions">
      <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: item }"></ng-template>
    </ng-container>
    <nz-card>
      <nz-comment>
        <nz-avatar nz-comment-avatar nzSize="large" nzIcon="user" style="background-color:#87d068;"></nz-avatar>
        <!--            <nz-avatar nz-comment-avatar nzIcon="user"-->
        <!--                       nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>-->
        <nz-comment-content>
          <nz-form-item>
            <textarea placeholder="发布讨论" nz-input rows="4" [(ngModel)]="discussionContent"></textarea>
          </nz-form-item>
          <nz-form-item>
            <button nz-button nzType="primary" (click)="publish()">
              发布
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="我的讨论">
    <ng-template #commentTemplateRef let-comment="comment">
      <nz-comment>
        <!--    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment?.avatar || 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'"></nz-avatar>-->
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="getProfile(comment.discussionId)"></nz-avatar>
        <nz-comment-content>
          <div class="ant-comment-content-author-name">
            {{getAuthor(comment.userId)}}
            <span class="ant-comment-content-author-time">{{comment.time}}</span></div>
        </nz-comment-content>
        <nz-comment-content>
          <p [innerHTML]="comment.content"></p>
        </nz-comment-content>
        <nz-comment-action>
                    <span class="action">
                    <i nz-tooltip nzTitle="Like" nz-icon nzType="like"
                       [nzTheme]="comment.likes > 0 ? 'twotone' : 'outline'"
                       (click)="like(comment.discussionId)"></i>
                    <span class="count like">{{ comment.likes }}</span>
                    </span>
        </nz-comment-action>
        <nz-comment-action class="action-reply">
                    <span class="action">
                    <i nz-icon nz-tooltip nzType="message" nzTheme="twotone"></i>
                    <span (click)="showReply(comment.discussionId)"> Reply to</span>
                    </span>
        </nz-comment-action>
        <div class="ReplyController{{comment.discussionId}}" style="display: none">
          <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="getProfile(comment.discussionId)"></nz-avatar>
            <!--              <nz-avatar nz-comment-avatar nzIcon="user"-->
            <!--                         nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>-->
            <nz-comment-content>
              <nz-form-item>
                <textarea placeholder="回复讨论" nz-input rows="4" [(ngModel)]="replyContent"></textarea>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" (click)="reply(comment.discussionId)">
                  回复
                </button>
              </nz-form-item>
            </nz-comment-content>
          </nz-comment>
        </div>
        <!--注意这一行，如果存在评论回复，遍历复用渲染-->
        <ng-container *ngIf="discussionChildren.get(comment.discussionId).length">
          <ng-template ngFor let-child [ngForOf]="discussionChildren.get(comment.discussionId)">
            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }">
            </ng-template>
          </ng-template>
        </ng-container>
      </nz-comment>
    </ng-template>

    <!--comment list loop-->
    <ng-container *ngFor="let item of myDiscussions">
      <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: item }"></ng-template>
    </ng-container>
  </nz-tab>
</nz-tabset>


