nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-card{
  margin: 15px;
  background: #ECECEC;
}

.ant-comment-content-author-name{
  font-size: large;
  font-weight: bold;
}
