<nz-page-header class="site-page-header" nzTitle="项目讨论">
</nz-page-header>
<nz-divider></nz-divider>

<nz-content>
  <nz-list [nzItemLayout]="'horizontal'">
    <nz-card *ngFor="let data of discussions">
      <nz-comment [nzAuthor]="getAuthor(data.user_id)" [nzDatetime]="data.time">
        <nz-avatar nzSize="large" nz-comment-avatar nzIcon="user"
                   nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        <nz-comment-content>
          <p>{{ data.content }}</p>
        </nz-comment-content>
        <nz-comment-action>
          <i nz-tooltip nzTitle="Like" nz-icon nzType="like" [nzTheme]="data.likes > 0 ? 'twotone' : 'outline'"
             (click)="like(data.discussion_id)"></i>
          <span class="count like">{{ data.likes }}</span>
        </nz-comment-action>
        <nz-comment-action>
          <i nz-icon nzType="message" nzTheme="outline"></i>
          <span (click)="showReply(data.discussion_id)"> Reply to</span>
        </nz-comment-action>

      </nz-comment>
      <div class="ReplyController{{data.discussion_id}}" style="display: none">
        <nz-comment>
          <nz-avatar nz-comment-avatar nzIcon="user"
                     nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          <nz-comment-content>
            <nz-form-item>
                <textarea placeholder="回复讨论" nz-input rows="4"></textarea>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary" (click)="reply()">
                回复
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
      </div>
    </nz-card>
    <nz-card>
      <nz-comment>
        <nz-avatar nz-comment-avatar nzIcon="user"
                   nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        <nz-comment-content>
          <nz-form-item>
              <textarea placeholder="发布讨论" nz-input rows="4" [(ngModel)]="discussionContent"></textarea>
          </nz-form-item>
          <nz-form-item>
            <button nz-button nzType="primary" (click)="publish()">
              发布
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
    </nz-card>
  </nz-list>
  <nz-pagination class="ant-table-pagination ant-table-pagination-right" [nzPageSize]="3" [nzPageIndex]="1"
                 [nzTotal]="discussions.length"></nz-pagination>
</nz-content>



