<nz-card>
  <nz-table [nzData]="[{}]" [nzShowPagination]="false">
    <tbody *ngIf="project">
    <tr>
      <th>项目名称：</th>
      <td>{{ project.projectName }}</td>
    </tr>
    <tr>
      <th>项目主题：</th>
      <td>{{ project.theme}}</td>
    </tr>
    <tr *ngIf="leader">
      <th>组长：</th>
      <td >{{ leader.username }}</td>
    </tr>
    <tr>
      <th>组员:</th>
      <td><span *ngFor="let data of students">{{data.username}}   </span></td>
    </tr>
    <tr>
      <th>开始时间<i nz-icon nzType="swap-right" nzTheme="outline"></i>结束时间:</th>
      <td>{{project.startTime}}<i nz-icon nzType="swap-right" nzTheme="outline"></i>{{project.endTime}}</td>
    </tr>
    <tr>
      <th>项目介绍：</th>
      <td>{{project.description}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
