<nz-card *ngIf="operation === 0"
         nzSize="small" [nzCover]="coverTemplate" [nzHoverable]="true" [nzActions]="[getInto, drop]">
  <nz-card-meta nzTitle="{{course.course_name + '(' + course.teacher_name+ ')'}}" nzDescription="{{course.description}}"></nz-card-meta>
</nz-card>

<nz-card *ngIf="operation === 1"
         nzSize="small" [nzCover]="coverTemplate" [nzHoverable]="true" [nzActions]="[join]">
  <nz-card-meta nzTitle="{{course.course_name + '(' + course.teacher_name + ')'}}" nzDescription="{{course.description}}"></nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <img alt="example" src="{{course.picture}}"/>
</ng-template>
<ng-template #getInto>
  <a (click)="getIntoCourseProject(course.course_id)"><i nz-icon nzType="login"></i> 进入课程</a>
</ng-template>
<ng-template #drop>
  <a (click)="dropCourse(course.course_id)"><i nz-icon nzType="delete"></i> 退课</a>
</ng-template>
<ng-template #join>
  <a (click)="joinCourse(course.course_id)"><i nz-icon nzType="plus"></i> 加入课程</a>
</ng-template>
