<h4>所有项目</h4>

<nz-list>
  <nz-list-item *ngFor="let project of allProjects">
    <ng-container>
      <nz-list-item-meta
        nzTitle="{{project.projectName}}"
        nzDescription="{{project.startTime}} --- {{project.endTime}}">
      </nz-list-item-meta>
      项目主题：{{project.theme}}
      <ul>
        <a (click)="joinProject(project.projectId)"><i nz-icon nzType="login"></i> 加入项目</a>
      </ul>
    </ng-container>
  </nz-list-item>
</nz-list>

<div nz-row nzJustify="center">
  <div nz-col nzSpan="8">
    <nz-pagination
      [(nzPageIndex)]="pagination.pageIndex"
      [nzPageSize]="3" [nzTotal]="allProjects.length"
      (nzPageIndexChange)="getAllProjects()"></nz-pagination>
  </div>
</div>
