<div>
  <nz-descriptions nzTitle="个人信息" nzBordered>
    <nz-descriptions-item nzTitle="学号">{{student.user_id}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="姓名" [nzSpan]="2">{{student.user_name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="性别">{{student.gender}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="学校" [nzSpan]="2">{{student.school}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="头像">
      <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
    </nz-descriptions-item>
  </nz-descriptions>
</div>

