<div>
  <nz-descriptions nzTitle="个人信息" nzBordered [nzColumn]="1" nzSize="small">
    <nz-descriptions-item nzTitle="头像">
      <img alt="example" src="{{student.profile}}" style="width: 100px; height: 100px"/>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="学号">{{student.sId}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="姓名">{{student.username}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="性别">{{student.gender}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="学校">{{student.school}}</nz-descriptions-item>
  </nz-descriptions>
</div>

