<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.projectbasedlearning.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="edu.fudan.projectbasedlearning.pojo.Course">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="max_student_number" jdbcType="INTEGER" property="maxStudentNumber" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
  </resultMap>

  <select id="findStudentListOfCourse" resultMap ="StudentListOfCourseMap">
    select * from user inner join student on s_id = user.user_id
        inner join take on take.user_id = user.user_id where course_id = #{courseId}
  </select>
  <resultMap id="StudentListOfCourseMap" type="edu.fudan.projectbasedlearning.pojo.Student">
  <!--
    WARNING - @mbg.generated
  -->
    <id column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <association property="user" javaType="edu.fudan.projectbasedlearning.pojo.User">
      <id property="userId" jdbcType="INTEGER" column="user_id"/>
      <result property="username" jdbcType="VARCHAR" column="username"/>
      <result property="password" jdbcType="VARCHAR" column="password"/>
      <result property="role" jdbcType="INTEGER" column="role"/>
    </association>
  </resultMap>
  <!-- 查询某个学生已选的所有课程 -->
  <select id="selectStudentCourses" resultType="hashmap">
    select course_id, user_id as teacher_id, username as teacher_name, course_name, description, max_student_number, picture from user, course
        where course_id in (select course_id from take where user_id = #{studentId}) and (user_id, course_id) in (select * from teach)
  </select>

  <!-- 根据关键词搜索课程 -->
  <select id="searchCourses" resultType="hashmap">
    select course_id, user_id as teacher_id, username as teacher_name, course_name, description, max_student_number, picture from user, course
     where (course_name like "%"#{keyword}"%" or description like "%"#{keyword}"%" or username like "%"#{keyword}"%")
     and (user_id, course_id) in (select * from teach)
  </select>

  <!-- 学生选课（将数据插入take表） -->
  <insert id="studentChooseCourse">
    insert into take (user_id, course_id) values (#{studentId}, #{courseId})
  </insert>
  <insert id="insertTeach">
    insert into teach(user_id, course_id) values (#{teacherId}, #{courseId})
  </insert>
  <insert id="insertCourse" useGeneratedKeys="true" keyProperty="courseId" keyColumn="course_id">
    insert into course(course_name, description, max_student_number, picture)
    values (#{courseName}, #{description}, #{maxStudentNumber},#{picture})
  </insert>

  <!-- 学生退课（从take表中删除数据） -->
  <delete id="studentDropCourse">
    delete from take where user_id = #{studentId} and course_id = #{courseId}
  </delete>
  <delete id="deleteCourse">
    delete from teach where course_id = #{courseId};
    delete from course where course_id = #{courseId}
  </delete>

  <!-- 查询某个教师开设的所有课程 -->
  <select id="selectTeacherCourses" resultMap="BaseResultMap">
    select * from course where course_id in (select course_id from teach where user_id = #{teacherId})
  </select>
  <select id="selectAllCourses" resultType="hashmap">
    select course_id, user_id as teacher_id, username as teacher_name, course_name,
           description, max_student_number, picture from user natural join course natural join teach
  </select>
  <select id="findProjectListOfCourse" resultType="edu.fudan.projectbasedlearning.pojo.Project">
    select * from project where course_id = #{courseId}
  </select>
  <select id="selectStudentNumberOfCourse" resultType="hashmap">
    select count(user_id) as studentNumberOfCourse, course_id
    from take
    group by course_id
    order by studentNumberOfCourse
  </select>
  <select id="selectCourseById" resultType="hashmap">
    select course_id, username as teacher_name, course_name,description
    from user natural join course natural join teach
    where course_id = #{courseId}
  </select>

</mapper>
