<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.projectbasedlearning.dao.DiscussionMapper">
    <resultMap id="BaseResultMap" type="edu.fudan.projectbasedlearning.pojo.Discussion">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="discussion_id" jdbcType="INTEGER" property="discussionId"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="likes" jdbcType="INTEGER" property="likes"/>
        <result column="parents_id" jdbcType="INTEGER" property="parentsId"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <select id="getFirstDiscussionsByProjectId" parameterType="int" resultType="edu.fudan.projectbasedlearning.pojo.Discussion">
    select discussion_id as discussionId,project_id as projectId,content,time,user_id as userId,likes,
     parents_id as parentsId from discussion where project_id = #{projectId} and parents_id is null
  </select>

    <select id="getMyDiscussions"  parameterType="int" resultType="edu.fudan.projectbasedlearning.pojo.Discussion">
     select discussion_id as discussionId,project_id as projectId,content,time,user_id as userId,likes,
     parents_id as parentsId from discussion where project_id = #{projectId} and user_id = #{studentId}
     and parents_id is null
    </select>

    <select id="getAllDiscussions" parameterType="int" resultType="edu.fudan.projectbasedlearning.pojo.Discussion">
       select discussion_id as discussionId,project_id as projectId,content,time,user_id as userId,likes,
     parents_id as parentsId from discussion where project_id = #{projectId}
  </select>

    <select id="getDiscussionChildrenList" parameterType="int"
            resultType="edu.fudan.projectbasedlearning.pojo.Discussion">
    select discussion_id as discussionId,project_id as projectId,content,time,user_id as userId,likes,
     parents_id as parentsId from discussion where project_id = #{projectId} and parents_id = #{parentsId}
  </select>

    <select id="getDiscussionAuthor" parameterType="int" resultType="hashmap">
     select user_id as sId, username, gender, school, profile from user inner join student on user.user_id = student.s_id where s_id = #{studentId}
  </select>

    <select id="getPublishCount" parameterType="int" resultType="int">
        select count(*) from discussion where user_id=#{userId} and parents_id is null
    </select>

    <select id="getReplyCount" parameterType="int" resultType="int">
       select count(*) from discussion where user_id=#{userId} and parents_id is not null
    </select>

    <update id="updateLikes" parameterType="int">
        update discussion set likes = #{likes} where discussion_id = #{discussionId}
    </update>

</mapper>
