<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.projectbasedlearning.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="edu.fudan.projectbasedlearning.pojo.Project">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="leader_id" jdbcType="INTEGER" property="leaderId" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
  </resultMap>

  <!-- 新建项目的时候将评分规则插入表中 -->
  <insert id="insertScoreDistribute">
    insert into score_distribute(project_id, type, distribute)
        values (#{projectId}, #{type}, #{distribute})
  </insert>
  <!-- 选了一个课程的所有学生 -->
  <select id="findStudentListOfProject" resultMap ="StudentListOfCourseMap">
    select * from user natural join student natural join participate where project_id = #{projectId}
  </select>
  <resultMap id="StudentListOfCourseMap" type="edu.fudan.projectbasedlearning.pojo.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <association property="user" javaType="edu.fudan.projectbasedlearning.pojo.User">
      <id property="userId" jdbcType="INTEGER" column="user_id"/>
      <result property="username" jdbcType="VARCHAR" column="username"/>
      <result property="password" jdbcType="VARCHAR" column="password"/>
      <result property="role" jdbcType="INTEGER" column="role"/>
    </association>
  </resultMap>


  <!-- 查询某门课程的所有项目 -->
  <select id="selectAllProjectsOfCourse" resultMap="BaseResultMap">
    select * from project where course_id = #{courseId}
  </select>

  <!-- 查询某个学生在某门课程下参与的所有项目 -->
  <select id="selectAllProjectsOfStudentInCourse" resultMap="BaseResultMap">
    select * from project where course_id = #{courseId} and project_id in (select project_id from participate where user_id = #{studentId})
  </select>

    <!-- 学生退出项目 -->
  <delete id="studentDropProject">
    delete from participate where project_id = #{projectId} and user_id = #{studentId}
  </delete>
    <delete id="deleteProject">
      delete from score_distribute where project_id = #{projectId};
      delete from score where project_id = #{projectId};
      delete from file where project_id = #{projectId};
      delete from discussion where project_id = #{projectId};
      delete from project where project_id = #{projectId};
    </delete>

    <!-- 学生加入新项目 -->
  <insert id="studentJoinProject">
    insert into participate (project_id, user_id) values (#{projectId}, #{studentId})
  </insert>
    <insert id="insertProject" useGeneratedKeys="true" keyProperty="projectId" keyColumn="project_id">
      insert into project (project_name, theme, start_time, end_time, description, course_id)
      values (#{projectName},#{theme}, #{startTime}, #{endTime}, #{description}, #{courseId})
    </insert>

</mapper>
